@import "~react-toolbox/colors"; // Import minimal colors

$color-primary: $palette-blue-500;
$color-primary-dark: $palette-blue-700;
$color-primary-light: $palette-blue-300;
$color-accent: $palette-original-blue-a200;
$color-accent-dark: $palette-original-blue-700;
$color-primary-contrast: $color-dark-contrast;
$color-accent-contrast: $color-dark-contrast;
